{% extends 'base.html.twig' %}

    {% block body %}
        <h1>Bienvenu sur mon Site</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt culpa laboriosam dolor facere minima ea at nobis nulla perferendis odit, quam temporibus quaerat officia fugiat? Corporis, eius. Tempora aliquam quae ratione inventore, cum repellendus quas? Veritatis dignissimos tempore vero alias!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, earum. Sapiente delectus accusamus quos dolore deserunt architecto blanditiis, facilis vel quae pariatur doloribus impedit rerum facere maiores excepturi nulla aliquam consequuntur? Nihil eaque dolorem numquam quia ex dolore laudantium minus?</p>

         <p>test</p>
    {% endblock %}
