{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<section class="articles">

    {% for article in articles %}
        <article>
            <h2>{{ article.title }}</h2>
            <div class="content">
                <img src="{{ article.image }}" alt="">
                <p>{{ article.content | raw }}</p>
                <a href="" class ="btn btn-primary"> Lien </a>
            </div>
        </article>
    {% endfor %}

</section>

{% endblock %}
